@media screen and (min-width: 56px) and (max-width: 768px) {
  .mobile {
    display: block;
    display: flex;
    flex: wrap;
  }
  .cardsss {
    display: block;
    display: flex;
    flex: wrap;
    gap: 5px
    ;
  }
  .desktop {
    display: none;
  }
}

    
